
@{
    ViewBag.Title = "Successfully";
}
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div class="login-container login-form">
    <div class="panel panel-default">
        <div class="panel-body">
            <h2 style="text-align:center;">Registration Completed</h2>

            <div style="text-align:left; color: white;">
                @Html.ActionLink("Login here!", "Login", "Home")
            </div>


</div>
</div>
</div>