
@{
    ViewBag.Title = "worklist";
}






<html>
<head>
     

</head>
<body>
    <div style="padding: 50px 50px;">
        <h3 style="background-color: #5F9EA0; color: white; width: 30%; font-size: 20px; font-family: 'Times New Roman'; padding: 5px 20px;">Follow-up Due Today Worklists</h3>
        <h4 style="background-color: #B0C4DE; color: black; width: 30%; font-size: 20px; font-family: 'Times New Roman'; margin-top: 1px !important;">Name</h4>

        <ul class="ARData">                        
            <li><span class="test" style="border-bottom: 1px solid #00008B;  font-size: medium;"> @Html.ActionLink("PRIORITY 1- New 835/EOB Follow-Up Due Today", "Priority", "Home") </span></li>
            <li><span class="test" style="border-bottom: 1px solid #00008B;  font-size: medium;"> @Html.ActionLink("PRIORITY 2- IP Cases With Follow-Up Due Today", "Priority", "Home") </span></li>
            <li><span class="test" style="border-bottom: 1px solid #00008B;  font-size: medium;"> @Html.ActionLink("PRIORITY 3- OP Cases With Follow-Up Due Today", "Priority", "Home") </span></li>
                    
             </ul>

    </div>


</body>

</html>

