@{
    Layout = null;
}
@Styles.Render("~/Content/css")
<h1 class="heading">Cost Performance Category</h1>
<p>No data submissions required for 2017. This data will be calculated from adjudicated claims.</p>
<hr />
<b>Citations to find rule verbiage</b>
<div class="row">
    <div class="col-md-6">
        <a href="https://www.federalregister.gov/d/2016-25240">https://www.federalregister.gov/d/2016-25240</a>
    </div>
    <div class="col-md-6">
        (Find Rule with comment period)
    </div>

</div>
<div class="row">
    <div class="col-md-6">
        <a href="https://www.federalregister.gov/d/2016-25240/p-2122">https://www.federalregister.gov/d/2016-25240/p-2122</a>
    </div>
    <div class="col-md-6">
        (Category removal from final score contribution for transitional year 2017)
    </div>

</div>

