@{
    Layout = null;
}

<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 ">
            <img src="~/Images/ADDI_Logo.jpg" class="image_class" />
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 text-center">
            <h3>  Merit Based Incentive Payment System</h3>
            <h3> Transitional Reporting SYstem 2017</h3>
            <h3> Reimbursement Calculator</h3>
            <h5> for non-APM entity, non CMS Web Interface Reporters  </h5>
        </div>
        <div class="col-md-2"></div>

    </div>
    <br />


    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 text-center">
            <p>
                The information contained in this tool is pulled directly from the federal rule
                as specific paragraphs are noted for reference. The calculation provided in this tool are not gaurantee of the payment and are intended
                to facilitate discussion and strategic planning.
            </p>
        </div>
        <div class="col-md-2"></div>

    </div>



    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 text-center">
            <h6> Qualis Health</h6>
            <h6>For Washington, contact Jane Dubbe:</h6>
            <h6>janed@qualishealth.org</h6>
            <h6>206-288-2377</h6>
            <br />
            <h6>For Idaho, contact Deanna Graham:</h6>
            <h6>deannag@qualishealth.org</h6>
            <h6>208-383-5951</h6>
            <br />
            <p> Visit our Quality Payment Program Resource Center:</p>
            <p>http://medicare.qualishealth.org/projects/QPP-resource-center</p>
        </div>
        <div class="col-md-2"></div>
    </div>


    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 text-center">
            <p>Version: T17-03</p>
            <p>Published on: April 12, 2017</p>
            <p><i>
    This material was prepared by Qualis Health, the Quality Payment Program for Small, Underserved Rural Support (SURS) and the Medicare Quality Innovation Network – Quality Improvement Organization (QIN-QIO) for Idaho and Washington, under contract with the Centers for Medicare & Medicaid Services (CMS), an agency of the U.S. Department of Health and Human Services.ID/WA-D1-QH-2960-05-17.
</i></p>
            <br />

        </div>
        <div class="col-md-2"></div>

    </div>







</div>





